.profile {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  font-family: "CabinetGrotesk-Bold", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.profile__heading {
  display: flex;
  margin-top: 20px;
}

.profile__heading_user {
  width: 300px;
  display: flex;
  align-items: center;
}
.profile__avatar-image {
  border-radius: 50%;
  width: 56px;
  height: 56px;
}

.profile__profile_name {
  text-align: center;
  margin-left: 25px;
  font-size: 20px;
}

.profile__heading_clothes {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
}

.profile__title {
  font-size: 20px;
}

.profile__add_new {
  color: rgb(0, 0, 0, 0.6);
  cursor: pointer;
  margin-left: 13px;
}

.profile__add-clothes-button {
  font-family: "CabinetGrotesk-Bold", serif;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.profile__add-clothes-button:hover {
  color: rgba(0, 0, 0, 0.6);
}
.profile__content {
  display: flex;
}
