.weather {
  position: relative;
  font-family: "CabinetGrotest-Bold", sans-serif;
}

.weather__info {
  position: absolute;
  top: 20px;
  left: 16px;
  color: #fff;
  font-size: 36px;
}

.weather__image {
  width: 100%;
}
