.main {
  padding: 0 20px;
}

.clothing {
  margin-top: 20px;
}

.clothing__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.clothing__intro {
  font-family: "CabinetGrotesk-Bold";
  line-height: 25px;
  font-weight: 700;
  font-size: 20px;
}

@media all and (max-width: 660px) {
  .clothing__intro {
    text-align: center;
  }

  /* .clothing__cards {
    width: 164px;
  } */
}
