.main {
  padding: 0 20px;
}

.clothing {
  margin-top: 20px;
}

.clothing__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.clothing__intro {
  font-family: "CabinetGrotesk-Bold";
  line-height: 25px;
  font-weight: 700;
  font-size: 20px;
}
