/* @font-face {
  font-family: "CabinetGrotesk";
  src: local("CabinetGrotesk"),
    url("../../vendor/fonts/CabinetGrotesk-Bold.woff") format("truetype");
  font-weight: bold;
} */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
  font-family: "CabinetGrotesk-Bold", serif;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
}

.header__add-clothes-button {
  background: none;
  border: none;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
